#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.ncb
*.suo
*.log
*.sbr
*.sdf
*.opensdf
ipch/
obj/
third_party/[Ll]ibs
third_party/modp_b64/[Dd]ebug/
third_party/modp_b64/[Rr]elease/
*.VC.db
base_unitest/Debug/
out/
Debug/
!packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-static.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-static/x64/Debug/
!packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-static.1.8.0/lib/native/v140/windesktop/msvcstl/static/rt-static/x86/Debug/
*.obj
*.log


#Visual Studio Code files
.vs/
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/lib/native/v140/windesktop/msvcstl/static/rt-dyn/x64/x64_Debug.zip
